<!DOCTYPE html>
<html>
  <head>
    <title>My Instagram Profile</title>
    <link rel="stylesheet" href="../static/profilepage.css" />
  </head>
  <body>
    <header>
      <img src="../static/assets/superman.png" alt="My Profile Picture" />
      <h1>Username</h1>
    </header>
    <section class="bio">
      <h2>About Me</h2>
      <h3>Username</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fuga aut
        quisquam soluta enim! Libero nihil porro nulla sequi perferendis quos
        reiciendis nemo dolor at, laudantium sapiente eligendi quis aliquam
        minus id inventore voluptatibus voluptate nostrum. Dolor, corporis
        molestiae non tenetur eligendi ea nobis delectus nemo consequatur ut
        autem animi.
      </p>
      <ul>
        <li><a href="#">Followers: 100</a></li>
        <li><a href="#">Following: 50</a></li>
        <li><a href="#">Total Posts: 20</a></li>
      </ul>
    </section>

    <h2>My Posts</h2>

    <section class="posts">
      <article>
        <img src="../static/assets/superman.png" alt="My Post" />
        <p>My caption for this post.</p>
        <time>Posted on April 21, 2023</time>
      </article>
      <article>
        <img src="../static/assets/superman.png" alt="My Post" />
        <p>Another caption for my post.</p>
        <time>Posted on April 20, 2023</time>
      </article>
      <article>
        <img src="../static/assets/superman.png" alt="My Post" />
        <p>My caption for this post.</p>
        <time>Posted on April 21, 2023</time>
      </article>
      <article>
        <img src="../static/assets/superman.png" alt="My Post" />
        <p>Another caption for my post.</p>
        <time>Posted on April 20, 2023</time>
      </article>
      <article>
        <img src="../static/assets/superman.png" alt="My Post" />
        <p>My caption for this post.</p>
        <time>Posted on April 21, 2023</time>
      </article>
      <article>
        <img src="../static/assets/superman.png" alt="My Post" />
        <p>Another caption for my post.</p>
        <time>Posted on April 20, 2023</time>
      </article>
    </section>
    <footer>
      <p>&copy; 2023 Instagram Ripoff. All Rights Reserved.</p>
      <p>Contact me at griffith@example.com</p>
    </footer>
  </body>
</html>
