<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <link rel="stylesheet" href="../static/homepage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png"
          alt="Instagram Logo"
        />
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search" />
      </div>
      <div class="menu-icons">
        <a href="/home"><i class="fa fa-home"></i></a>
        <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-compass"></i></a>
        <a href="#"><i class="fa fa-heart"></i></a>
        <a href="/profile"><i class="fa fa-user"></i></a>
      </div>
    </header>
    <main class="main-content">
      <div class="posts">
        <div class="post">
          <div class="post-info">
            <div class="post-author">
              <img src="../static/assets/superman.png" alt="Author Avatar" />
              <a href="#">username</a>
            </div>
            <img src="../static/assets/superman.png" alt="Post Image" />
            <div class="post-description">
              <a href="#">username</a> Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Sed at fringilla mi. Integer vel velit eget nisl
              eleifend auctor vel ac justo.
            </div>
            <div class="post-actions">
              <a href="#"><i class="fa fa-heart-o"></i></a>
              <a href="#"><i class="fa fa-comment-o"></i></a>
              <a href="#"><i class="fa fa-paper-plane-o"></i></a>
            </div>
            <div class="post-likes">
              <span>100 likes</span>
            </div>
            <div class="post-comments">
              <div class="comment">
                <a href="#">username</a> Lorem ipsum dolor sit amet.
              </div>
              <div class="comment">
                <a href="#">username</a> Lorem ipsum dolor sit amet.
              </div>
              <!-- Add more comments here -->
            </div>
            <div class="post-timestamp">
              <span>2 hours ago</span>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="post-info">
            <div class="post-author">
              <img src="../static/assets/superman.png" alt="Author Avatar" />
              <a href="#">username</a>
            </div>
            <img src="../static/assets/superman.png" alt="Post Image" />
            <div class="post-description">
              <a href="#">username</a> Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Sed at fringilla mi. Integer vel velit eget nisl
              eleifend auctor vel ac justo.
            </div>
            <div class="post-actions">
              <a href="#"><i class="fa fa-heart-o"></i></a>
              <a href="#"><i class="fa fa-comment-o"></i></a>
              <a href="#"><i class="fa fa-paper-plane-o"></i></a>
            </div>
            <div class="post-likes">
              <span>100 likes</span>
            </div>
            <div class="post-comments">
              <div class="comment">
                <a href="#">username</a> Lorem ipsum dolor sit amet.
              </div>
              <div class="comment">
                <a href="#">username</a> Lorem ipsum dolor sit amet.
              </div>
              <!-- Add more comments here -->
            </div>
            <div class="post-timestamp">
              <span>2 hours ago</span>
            </div>
          </div>
        </div>
        <!-- Add more posts here -->
      </div>
    </main>
  </body>
</html>
