<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <link rel="stylesheet" href="../static/homepage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <script>
    var num = 0;
    function updatePage() {
      const selectElement = document.getElementById("person-to-search").value;
      console.log(selectElement);
      window.location.href = selectElement;
    }
  </script>

  <body>
    <header>
      <div class="logo">
        <img
          src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png"
          alt="Instagram Logo"
        />
      </div>
      <div class="search-box">
        <select
          type="text"
          id="person-to-search"
          placeholder="Search"
          class="chosen-select"
          onchange="updatePage()"
        >
          <option value=""></option>

          {% for user in userData %}
          <option value="/user/{{user.id}}">{{ user.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="menu-icons">
        <a href="/home"><i class="fa fa-home"></i></a>
        <a href="/addpost"
          ><i class="fa fa-plus-circle" aria-hidden="true"></i
        ></a>
        <a href="#"><i class="fa fa-compass"></i></a>
        <a href="#"><i class="fa fa-heart"></i></a>
        <a id="user-profile" href="/user/{{userId}}"
          ><i class="fa fa-user"></i
        ></a>
      </div>
    </header>
    <main class="main-content">
      <div class="posts">
        {% for item in data %}
        <div class="post">
          <div class="post-info">
            <div class="post-author">
              <img src="../static/assets/superman.png" alt="Author Avatar" />
              <a href="/user/{{ item.userId }}">{{ item.email }}</a>
            </div>
            <img
              src="data:image/jpeg;base64,{{ item.image }}"
              alt="{{item.imagePath}}"
            />
            <div class="post-description">
              <a href="#">{{ item.name }}</a> {{ item.caption }}
            </div>
            <form action="/post/comment/{{item.postId}}" method="post">
              <input
                type="text"
                name="comment"
                id="comment"
                maxlength="200"
                placeholder="{{item.postId}}"
              />
              <button class="button" type="submit">Post Comment</button>
            </form>
            {% if item.comments %}
            <div class="post-comments">
              {% for comment in item.comments[:5] %}
              <div class="comment">
                <a href="">{{comment.name}}</a> {{comment.comment}}
              </div>
              {% endfor %} {% for comment in item.comments[5:] %}
              <div class="comment hidden">
                <a href="">{{comment.name}}</a> {{comment.comment}}
              </div>
              {% endfor %}
            </div>
            {% endif %}
            <br />
            {% if item.comments|length > 5 %}
            <button id="expand-comments-btn" class="button">
              Expand Comments
            </button>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link
  href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css"
  rel="stylesheet"
/>
<script>
  $(".chosen-select").chosen({
    no_results_text: "Oops, nothing found!",
  });
</script>
<script>
  const expandCommentsBtn = document.getElementById("expand-comments-btn");
  const hiddenComments = document.querySelectorAll(".comment.hidden");

  if (hiddenComments.length === 0) {
    expandCommentsBtn.style.display = "none";
  }

  expandCommentsBtn.addEventListener("click", function () {
    hiddenComments.forEach(function (comment) {
      comment.classList.remove("hidden");
    });
    expandCommentsBtn.style.display = "none";
  });
</script>
