<!DOCTYPE html>
<html>
  <head>
    <title>Instagram Auth</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!--     <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    /> -->
    <link type="text/css" rel="stylesheet" href="../static/login_signup.css" />
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css"
    />
  </head>
  <body>
    <h1>Instagram Auth</h1>
    <div class="container">
      <div class="auth-container">
        <img
          src="../static/assets/insta.png"
          alt="Instagram Logo"
          class="logo"
        />
        <div id="firebase-auth-container"></div>
      </div>
    </div>

    <div class="signout-container">
      <button
        class="signout-button"
        id="sign-out"
        class="submit-btn"
        hidden="true"
      >
        Sign out
      </button>
    </div>
    <div id="login-info" hidden="true">
      <h2>Login Info</h2>
      {% if user_data %}
      <dl>
        <dt>Name:</dt>
        <dd>{{ user_data['name'] }}</dd>
        <dt>Email:</dt>
        <dd>{{ user_data['email'] }}</dd>
      </dl>
      {% elif error_message %}
      <p>Error Message: {{ error_message }}</p>
      {% endif %}
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
  </body>
</html>
