<!DOCTYPE html>
<html>
  <head>
    <title>My Instagram Profile</title>
    <link rel="stylesheet" href="../static/profilepage.css" />
  </head>
  <body>
    <header>
      <img src="../static/assets/superman.png" alt="My Profile Picture" />
      <h1>{{userData.name}}</h1>
      {% if not myProfile%}
      <div class="follow-container">
        {% if amIFollowingThisUser %}
        <form action="/unfollowuser/{{userData.id}}" method="post">
          <button class="button" type="submit" id="btn-follow-unfollow">
            Unfollow
          </button>
        </form>
        {% else %}
        <form action="/followuser/{{userData.id}}" method="post">
          <button class="button" type="submit" id="btn-follow-unfollow">
            Follow
          </button>
        </form>
        {% endif %}
      </div>
      {% endif %}
    </header>
    <section class="bio">
      <h2>About Me</h2>
      <h3>{{email}}</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fuga aut
        quisquam soluta enim! Libero nihil porro nulla sequi perferendis quos
        reiciendis nemo dolor at, laudantium sapiente eligendi quis aliquam
        minus id inventore voluptatibus voluptate nostrum. Dolor, corporis
        molestiae non tenetur eligendi ea nobis delectus nemo consequatur ut
        autem animi.
      </p>
      <ul>
        <li>
          <a href="/user/{{userData.id}}/followers"
            >Followers: {{ totalNumberOfFollowers }}</a
          >
        </li>
        <li>
          <a href="/user/{{userData.id}}/following"
            >Following: {{ totalNumberOfFollowing }}</a
          >
        </li>
        <li><a href="">Total Posts: {{ totalPosts }}</a></li>
      </ul>
    </section>

    <h2>My Posts</h2>

    <section class="posts">
      {% for item in data %}
      <article>
        <img
          src="data:image/jpeg;base64,{{ item.image }}"
          alt="{{item.imagePath}}"
        />
        <p>{{ item.caption }}</p>
        <time>Posted on {{item.createdTime}}</time>
      </article>
      {% endfor %}
    </section>
    <footer>
      <p>&copy; 2023 Instagram Ripoff. All Rights Reserved.</p>
      <p>Contact me at griffith@example.com</p>
    </footer>
  </body>
</html>

<script>
  var myUserId = getCookie("user_id");
  console.log(myUserId);

  // Function to get the value of a cookie
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      var cookies = document.cookie.split(";");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>
