<!DOCTYPE html>
<html>
  <head>
    <title>My Instagram Profile</title>
    <link rel="stylesheet" href="../static/profilepage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png"
          alt="Instagram Logo"
        />
      </div>
      <div class="menu-icons">
        <a href="/home"><i class="fa fa-home"></i></a>
        <a href="/addpost"
          ><i class="fa fa-plus-circle" aria-hidden="true"></i
        ></a>
        <a id="user-profile" href="/user/{{navbarData}}"
          ><i class="fa fa-user"></i
        ></a>
      </div>
    </header>
    <div class="header2">
      <img src="../static/assets/superman.png" alt="My Profile Picture" />
      <h1>{{userData.name}}</h1>
      {% if not myProfile%}
      <div class="follow-container">
        {% if amIFollowingThisUser %}
        <form action="/unfollowuser/{{userData.id}}" method="post">
          <button class="button" type="submit" id="btn-follow-unfollow">
            Unfollow
          </button>
        </form>
        {% else %}
        <form action="/followuser/{{userData.id}}" method="post">
          <button class="button" type="submit" id="btn-follow-unfollow">
            Follow
          </button>
        </form>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <section class="bio">
      <h3>About Me</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem
        obcaecati in mollitia perferendis soluta voluptas dolor magnam aliquid
        possimus vel, repudiandae, expedita odit, autem consequuntur amet.
        Voluptatem, saepe praesentium?
      </p>
      <ul>
        <li>
          <a href="/user/{{userData.id}}/followers"
            >Followers: {{ totalNumberOfFollowers }}</a
          >
        </li>
        <li>
          <a href="/user/{{userData.id}}/following"
            >Following: {{ totalNumberOfFollowing }}</a
          >
        </li>
        <li><a href="">Total Posts: {{ totalPosts }}</a></li>
      </ul>
    </section>

    <h2>My Posts</h2>

    <section class="posts">
      {% for item in data %}
      <article>
        <img
          src="data:image/jpeg;base64,{{ item.image }}"
          alt="{{item.imagePath}}"
        />
        <p>{{ item.caption }}</p>
        <time>Posted on {{item.createdTime}}</time>
      </article>
      {% endfor %}
    </section>
    <footer>
      <p>&copy; 2023 Instagram Ripoff. All Rights Reserved.</p>
      <p>Contact me at griffith@example.com</p>
    </footer>
  </body>
</html>
